
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 15vh;
    background-color: brown;
}
.sidebar header{
    font-size: 1.3rem;
    color: white;
    line-height: 85px;
    background-color: grey;
    user-select: none;

}
.sidebar ul{
     display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    color: white;
    padding-left: 80px;
    gap: 130px;
    box-sizing: border-box;
    transition: 4s;
}
ul li:hover{
    background-color: rgb(226, 81, 81);
}
@media screen and (max-width: 768px) {
    .sidebar {
        flex-direction: column;
        height: 100%;
        align-items: center; 
        padding: 20px 0; 
    }
    .sidebar header {
        text-align: center;
        width: 100%;
        font-size: 1.3rem;
        color: white;
        background-color: grey;
        user-select: none;
        padding: 10px 0;
        margin-bottom: 25px;
    }
    
    .sidebar ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 60px;
    }
    ul li {
        width: 100%;
        justify-content: flex-start;
    }
    ul li:hover {
        transform: translateX(10px);
        transition: transform 0.3s ease-in-out;
    }
}
