

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: brown;
}
.sidebar header{
    font-size: 1.3rem;
    text-align: center;
    color: white;
    line-height: 70px;
    background-color: grey;
    user-select: none;
}
.sidebar ul{
     display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 1.2em;
    /* cursor: pointer; */
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid;
    transition: 4s;
}
ul Li:hover{
    padding-left: 40px;
}
@media(max-width: 601px){
    .sidebar ul{
        width: 100%;
        background-color: brown;
    }
} 


@media(min-width: 768px){
    .sidebar ul{
        width: 100%;
        background-color: brown;
    }
} 
